* {
  box-sizing: border-box;
}

main {
  display: block;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Calibri', 'sans-serif';
  font-size: 15px;
  color: #333;
  line-height: 1.42857143;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

/* Typical page borders are awkward when rendered to PDF. */
body {
  background-color: #FFFFFF;
}

/* Adobe or wkhtmltopdf has issues with the <main> tag, so we use <div> for
the PDF case, <main> for the HTML case, and style both via an ID. */
#main {
  background-color: #FFF;
  margin: 10px;
  padding: 10px;
  border: 1px solid #E6E6E6;
}

body > #main {
  border: none;
}

#container > header {
  padding-top: 6em;
  padding-bottom: 1em;
}

body.pdf #container > header {
  padding: 0;
}

#main > #container > section {
  margin-left: 5em;
  position: relative;
  display: block;
}

span.fa
{
  position: absolute;
  top: 4px;
  left: -50px;
  font-size: 30px;
  color: #BFC1C3;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #EEE;
}

.tenure, .keywords {
  font-size: 75%;
}

h1 {
  margin: 0;
  font-size: 46px;
}

h2 {
  font-size: 24px;
  color: #BFC1C3;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  margin-bottom: 0;
  font-size: 18px;
}

a, a:visited {
  color: #428BCA;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.defunct {
  color: #989898;
  font-weight: bold;
}

#summary > p > strong {
  font-size: 1.25em;
}


.label-keyword {
  display: inline-block;
  background: #7eb0db;
  color: white;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #357ebd;
  border-radius: 5px;
  margin-top: 2px;
}

.card-skills {
    position: relative;
}
.card-nested {
    min-height: 0;
    margin-bottom: 10px;
    border-width: 1px 0 0 0;
}
.card {
    background: #FFF;
    border-radius: 3px;
    padding: 10px;
}

.skill-level {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 10px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.skill-level .skill-progress {
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 1s ease;
}
.skill-level .skill-progress.beginner {
  height: 50%;
  background: #e74c3c;
}
.skill-level .skill-progress.intermediate {
  height: 70%;
  background: #f1c40f;
}
.skill-level .skill-progress.advanced {
  height: 80%;
  background: #428bca;
}
.skill-level .skill-progress.master {
  height: 95%;
  background: #5cb85c;
}
.skill-info {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .skill-info {
    margin-left: 20px;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.card-skills {
  position: relative;
}

.space-top {
    margin-top: 10px;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}

#elevator-pitch {
  text-align: center;
  font-size: 24px;
  color: #BFC1C3;
  text-transform: uppercase;
  font-weight: normal;
}

.res-label {
  font-style: italic;
}
