@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700italic,700);

body {
  background-color: #fff;
  padding: 0; margin: 0;
  font: 14px/1.5 $base-font;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  margin-bottom: 0;
  position: relative;
  padding-left: 17px;
  font-family: $title-font;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

p > code {
  background-color: #EAEAEA;
  padding: 5px;
  text-transform: none;
  letter-spacing: 1px;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width: 100%;
  max-width: 1150px;
  margin:0 auto;
  padding: 40px 20px;
  // Expand with height of floated children
  // http://stackoverflow.com/q/804926/4942583
  overflow: hidden;
  position: relative;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}


header, section, footer, img, .wrapper {
  box-sizing: border-box;
}

header {
  position: static;
  -webkit-font-smoothing:subpixel-antialiased;
  min-width: 250px;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header > p {
  text-transform: uppercase;
  font-size: 80%;
  margin: 0;
  margin-bottom: 15px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width: 66%;
  float: left;
  max-width: 750px;
  padding-bottom:50px;
  position: relative;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width: 100%;
  float: none;
  position: static;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color: #232323;
  padding: 0;
  h1 {
    color: #DADADA;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 1em;
    padding-left: 0;
  }
  a {
    color: #4EC4FF;
    &:hover {
      color: #A8E2FF;
    }
  }
}

img.main {
  border: solid 10px #000;
  border-radius: 10px;
  margin: 0;
  max-width: 100%;
  margin-bottom: 15px;
}

img.logo {
  position: absolute;
  width: 24px;
  top: 4px;
  left: -5px;
}

img#fluentcv {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 760px) {
  img.main {
    position: absolute;
    right: 20px; top: 40px;
    width: 60%;
  }
  header {
    width: 33%;
    max-width: 400px;
  }
}
