header > p {
  text-transform: uppercase;
  font-size: 80%;
  margin: 0;
  margin-bottom: 15px;
}

.wrapper {
  max-width: 1150px;
  width: 100%;
}

p > code {
  background-color: #EAEAEA;
  padding: 5px;
}

header {
  position: static;
  width: 33%;
  max-width: 400px;
}

section {
  width: 66%;
  float: left;
  max-width: 750px;
}

header, section, img {
  box-sizing: border-box;
}

img {
  border: solid 10px #000;
  border-radius: 10px;
  margin: 0 20px;
}

@media print, screen and (max-width: 960px) {
  header {
    width: auto;
    padding-right: 0;

  }
  img {
    margin: 0;
  }
  header ul {
      /* position: absolute; */
      position: static;
      right: 50px;
      top: 52px;
  }
  section {
    float: none;
    width: auto;
  }
}
