---
layout: master-bare
---
<div class="wrapper">
  <header>
    <h1>{{ site.title }}</h1>
    <p class="byline">A Swiss Army Knife for résumés and CVs<br>For Windows, OS X, Linux, and Node.js</p>
    <p class="byline"><strong>Install</strong> with NPM:<br><br><code>[sudo] npm install hackmyresume -g</code></p>
    <p class="byline"><strong>Feed me</strong>: One or more <a href="https://github.com/fluentdesk/FRESCA">FRESH</a> or <a href="https://github.com/json-resume/json-resume-schema">JSON Resume</a> format résumés.</p>
    <p class="byline"><strong>Sit back</strong> while I generate polished résumés in HTML, WORD, Markdown, PDF, LaTeX, JSON, YAML, XML, plain text, smoke signal, and carrier pigeon.</p>
    <p class="byline"><strong>Themes</strong>: Choose from any <a href="https://github.com/fluentdesk/fluent-themes">FRESH</a> or <a href="#">JSON Resume</a> theme or <strong>build your own</strong> with Handlebars or Underscore.</p>
    <p class="byline"><strong>Validation?</strong> Yup.</p>
    <p class="byline"><strong>100% Private and Local</strong> No registration, no <a href="https://github.com/jsonresume/resume-cli/blob/master/lib/export-resume/index.js#L67-L86">drive-by resume uploads</a>, no dialing home, and no recruitment.</p>
    <ul>
      <li><a href="https://www.npmjs.com/package/{{ site.npm_package }}">Install with <strong>NPM</strong></a></li>
      <!-- <li><a href="{{ site.github_url }}/minimal/tarball/master">Download <strong>sources</strong></a></li> -->
      <li><a href="{{ site.github_url }}">View on <strong>GitHub</strong></a></li>
    </ul>
  </header>

  <section>
  {{ content }}
  </section>

  <footer>
    <p>This project is maintained by <a href="https://github.com/{{ site.github_username }}">{{ site.author_name }}</a></p>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  </footer>
</div>
<script src="/js/scale.fix.js"></script>
