---
layout: master-bare
---
<div class="wrapper">
  <header>
    <h1><img src="android-chrome-48x48.png" class="logo">{{ site.titleMarkup }}</h1>
    <p>A Swiss Army Knife for <strong>résumés and CVs</strong><br>For Windows, OS X, Linux, and Node.js</p>
    {{ content }}
    <p><strong>Install</strong> with NPM:<br><br><code>npm install hackmyresume -g</code></p>
    <p><strong>Feed me</strong>: One or more <a href="https://github.com/fluentdesk/FRESCA">FRESH</a> or <a href="https://github.com/jsonresume/resume-schema">JSON Resume</a> format résumés.</p>
    <p><strong>Sit back</strong> while I generate polished résumés in HTML, WORD, Markdown, PDF, LaTeX, JSON, YAML, XML, plain text, smoke signal, and carrier pigeon.</p>
    <p><strong>Themes</strong>: Choose from any <a href="https://github.com/fluentdesk/fresh-themes">FRESH</a> or <a href="https://jsonresume.org/themes/">JSON Resume</a> theme or <strong>build your own</strong> with Handlebars or Underscore.</p>
    <p><strong>Validation?</strong> Yup.</p>
    <p><strong>100% Private and Local</strong> No registration, no drive-by resume uploads, no dialing home, no recruitment.</p>
    <ul>
      <li><a href="https://www.npmjs.com/package/{{ site.npm_package }}">Install with <strong>NPM</strong></a></li>
      <li><a href="{{ site.github_url }}">View on <strong>GitHub</strong></a></li>
      <li><a href="jane/resume.html">See a <strong>SAMPLE</strong></a></li>
    </ul>
    <p>This project is maintained by <a href="https://github.com/{{ site.github_username }}">{{ site.author_name }}</a><br>
    Hosted on GitHub Pages</p>
  </header>
</div>
<footer>
  <div class="wrapper">
    <h1>Not a fan of the command line? Check out <a href="http://fluentcv.com">FluentCV Desktop</a>.</h1>
    <a href="http://fluentcv.com"><img src="img/fluentcv_desktop.png" id="fluentcv"></a>
  </div>
</footer>
<script src="/js/scale.fix.js"></script>
